body, html {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif; 
}



@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.back.cmplz-marketing.cmplz-statistics.cmplz-preferences.cmplz-functional.cmplz-uk.cmplz-optin{
background-color: 
}

.seo_box{

}

/* hr */

hr.horizontal-line {
  border: none !important;       /* Remove default border */
  height: 2px !important;        /* Set thickness */
  background-color: lightgrey !important;  /* Set color */
}


/*###### CSS ROOT ######*/

:root {
  --site-header-font: 'Open Sans', sans-serif;       						   /*Site header font family*/
  --site-sub-header: 500;                         							 /*Site sub header font size*/
  --blog-post-title: 400;                         							 /*Site blog post title font size*/
  --blog-post-paragraph: 300;                         							 /*Site blog post paragraph font size*/
  --Image-overlay-scale-webkit:  -webkit-transform: scale(1);    /*Imgage zoom effect*/
}

/*###### END CSS ROOT ######*/

/*###### Ads CSS ######*/

/*Ads*/

      @media (min-width: 768px) {
        .Home_Page_MPU_adslot {
          min-height: 610px;
          max-height: 610px;
          width:310px;
          background-color:#f8f8f8;
          margin: 0 auto;
        }
      }


@media (max-width: 480px) {
        .Home_Page_MPU_adslot {
          min-height: 310px;
          max-height: 310px;
          width:310px;
          background-color:#f8f8f8;
          margin: 0 auto;
        }
      }

      @media screen and (min-width: 480px) {
        .commerce_hp_mobile{
          display: none!important;
        }
      }

      @media screen and (max-width: 480px) {
      .commerce_hp_mobile{
          display: block!important;
          height: 100px;
      }
    }

      @media screen and (max-width: 480px) {
        .commerce_hp_desktop{
          display: none!important;
        }
      }




/*###### Ads CSS ######*/


/*###### End Ads CSS ######*/



/* Header/logo Title */
.header { padding: 20px; text-align: center; background: #264764; color: white;}

.header-social{ background-color: black;}
p.header-social{ background-color: black;}


.page-wrap{
  padding: 2rem 0;
}

/*logo resposive CSS */

@media (min-width: 768px) {
  .mobile-logo{
    display: none;

  }
}

@media (max-width:480px ){
.mobile-logo{
  display: block;

}
}

@media (min-width: 768px) {
.desktop-logo{
  display: block;

}
}

@media (max-width:480px ){
.desktop-logo{
display: none;

}
}

/*End logo responsive css*/

/* Style the top navigation bar */

.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.menu-item, .menu-item-type-post_type, .menu-item-object-post, .menu-item-1112 {
    list-style-type: none;
    text-align: left;
    font-family: var(--Gfont_non_heading);

}

header.head.text-white.p-2 {
    background-color: black;
}

.site_header{
 font-family: var(--site-header-font);
 background-color: #000;
}

.site-sub-header{
 font-weight: var(--site-sub-header);
 font-family: var(--site-header-font);
}

.feature_label_sidebar {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}


img.card_image {
    width: 500px;
    height: 300px;
}

.card-title, .post_block_title, .site_sub_header, .nav-link, .card-text{
font-family: 'Open Sans', sans-serif;

}

.btn, .btn-danger{
    font-family: 'Open Sans', sans-serif;
    /*color: #000!important;*/
}

.pagination_font{
    color: #000!important;
    font-family: 'Open Sans', sans-serif;
}

.page-item.active{
    z-index: 3;
    color: #000!important;
    background-color: #dc3545!important;
    border-color: #dc3545!important;
}

/* visited link */
a.page-link:visited {
  color: blue !important;
}

/* mouse over link */
a.page-link:hover {
  color: #dc3545!important;
}

/* selected link */
a.page-link:active {
  color: #000!important;
}

/* selected link */
a.page-link {
  color: #000!important;
}

/*Images

.img-fluid rounded-top {
    -webkit-transform: scale(1);
    transform: scale(1);
}*/

/* Archive */

span.page-numbers.current{
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: .5rem;
  border-radius: 5px;
}

a.page-numbers{
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: .5rem;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .seo_block_mobile{
    margin-top: 5px;
    }
}

/* Footer */

footer{
  background: #111;
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 480px) {
  footer{
    display: block;
    height: 100%;
  }
}

footer .primary-menu-footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer  .container{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
}

footer .primary-menu-footer li a{
  padding: .25rem 1rem;
  color: white;
}
footer  .primary-menu-footer li{
  position: relative;
}

.primary-menu-footer a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.big-content {
    height: 100%;
    min-height: 300px;
}

.small-content {
    height: 100px;
}

/* ###### Justified image grid ##### */

div#JigBlock{
  min-height: 800px!important;
  max-height: 1000px!important;
}


/* ####### Sidebar CSS ######*/


@media screen and (max-width: 480px) {
  .sidebar{
    display: none!important;
  }
}

html #wpadminbar{position:fixed};


/*###### Homepage ######*/


button.buttons .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: white !important;
}

@media screen and (min-width: 768px) { /* Adjust the min-width value based on your desired breakpoint for desktop devices */
  .right-card {
    min-height: 600px;
    max-height: 670px;
  }
}

/*Featured Posts*/

img.featured {
  opacity: 1.0;
  transition: transform .5s ease;
}

img.featured:hover {
  transform: scale(0.99);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  img.featured{
    width:100%!important;
    height:100%!important;
  }
}

@media screen and (min-width: 480px) {
  .non_featured_block_home_page{
    display: block!important;
  }
}

@media screen and (max-width: 480px) {
  .non_featured_block_home_page{
    display: none!important;
  }
}

@media screen and (max-width: 480px) {
  .non_featured_block_home_page_mobile{
    display: block!important;
  }
}

@media screen and (min-width: 480px) {
  .non_featured_block_home_page_mobile{
    display: none!important;
  }
}

@media screen and (max-width: 480px) {
  .container.mobile_padding {
    padding: 15px;
  }
}

/* Rating statement styling*/

div#rating_statement_difficulty {
  font-size: 18px;
  color: #0400ff;
}

div#rating_statement_review {
  font-size: 18px;
  color: black;
}


body {
  background-color: #cecece24!important;
}


/*Featured Post Label */
.featured-box {
  width: 125px;
  height: 40px;
  background-color: red;
  transform: skew(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;

}

p.featured-text{
  color: white;
  transform: skew(20deg);
   font-style: italic;
   font-size:32px;
}


/* Meta CSS */

a.tag-cat-btns:hover {
  color: white !important;
  text-decoration: none!important;
}

a.tag-cat-btns:active {
  color: white !important;
  text-decoration: none !important;
}

a.tag-cat-btns:visited {
  color: rgb(249, 10, 10) !important;
  text-decoration: none !important;
}


span.tag-cat-btns:active {
  color: white !important;
  text-decoration: none !important;
}

span.tag-cat-btns:visited {
  color: rgb(249, 10, 10) !important;
  text-decoration: none !important;
}

